<div class="dash_wrapper">
<h1>Shipper Dashboard</h1>

<div class="dashboard_buttons"> <%= link_to("Create Ship", new_ship_path) %> </div> <%# new ship  %>
<div class="dashboard_buttons"> <%= link_to("Create Job", new_job_path) %> </div> <%# new job  %>

<div class="table_style">
  
  <h2>Create Contract</h2> <%# new contract  %>
  <div><h4 id="contract-error" style="color:red; text-align: center;"></h4></div>
    <div class="dash_tables">
       <%= form_with model: @contract, url: contracts_path do |c| %>

        <%=c.label 'Ship'%>
        <%= select("contract","ship_id", options_for_select(ships_array)) %>

        <%=c.label 'Job ID'%>
        <%= c.text_field :job_id %>

        <%=c.label 'Priority'%>
        <%= select("contract","priority", options_for_select([['Normal'], ['Urgent'], ['Critical']])) %>

        <%= c.submit %>
      <% end %>
    </div>
</div>

<div class="table_style">
  <h2> Current Ships</h2> <%# display ships  %>

  <table class="dash_tables">
    <tr>
      <th class="row-style">Ship ID</th>
      <th class="row-style">Name</th>
      <th class="row-style">Max Payload</th>
      <th class="row-style">Current Payload</th>
      <th class="row-style">Location</th>
      <th class="row-style">Shipper ID</th>
    </tr>

  <% @ships.each do |ship| %>

      <tr>
          <td class="data-style"><%= ship.id %></td>
          <td class="data-style"><%= link_to(ship.name, ship_path(ship.id)) %></td>
          <td class="data-style"><%= ship.container_max %></td>
          <td class="data-style"><%= ship.payload %></td>
          <td class="data-style"><%= ship.location %></td>
          <td class="data-style"><%= ship.shipper.id %></td>
          <td class="data-style"><%= image_tag ship.avatar.url(:thumb), class: "avatar-img" %></td>
      </tr>

    <% end %>
  </table>
</div>

<div class="table_style" id="job-table">
  <h2> Current Jobs </h2> <%# display jobs  %>

  <table class="dash_tables">

  <tr>
      <th class="row-style data-style">Job ID</th>
      <th class="row-style data-style">Name</th>
      <th class="row-style data-style">Descritpion</th>
      <th class="row-style data-style">Origin</th>
      <th class="row-style data-style">Destination</th>
      <th class="row-style data-style">Cost</th>
      <th class="row-style data-style">Total Containers</th>
      <th class="row-style data-style">Ship(s)</th>
      <th class="row-style data-style">Shipper ID</th>
    </tr>

  <% @jobs.each do |job| %>

      <tr>
          <td class="data-style"><%= job.id %></td>
          <td class="data-style"><%= link_to(job.name, job_path(job.id)) %></td>
          <td class="data-style"><%= job.description %></td>
          <td class="data-style"><%= job.origin %></td>
          <td class="data-style"><%= job.destination %></td>
          <td class="data-style"><%= job.cost %></td>
          <td class="data-style"><%= job.total_containers %></td>

          <td class="data-style"><% if job.ships.empty? %><span style="color:red">UNASSIGNED</span><% else %><% @shipnames = job.ships.collect(&:name)%><%@shipnames.each do |a|%><%=a%> <%end%><% end %>
          </td>

          <td class="data-style"><%= job.shipper_id %></td>
      </tr>

    <% end %>
    </table>
</div>

<div class="table_style" id="contract-table">
    <h2> Current Contracts </h2> <%# display contracts  %>

    <table class="dash_tables">

    <tr>
      <th class="row-style">Contract ID</th>
      <th class="row-style">Ship</th>
      <th class="row-style">Job Name</th>
      <th class="row-style">Job ID</th>
      <th class="row-style">Priority</th>

    </tr>

    <% @contracts.reverse.each do |c| %>

      <tr>
          <td class="data-style"><%= c.id %></td>
          <td class="data-style"><%= c.ship.name %></td>
          <td class="data-style"><%= c.job.name %></td>
          <td class="data-style"><%= c.job_id %></td>
          <td class="data-style"><%= c.priority %></td>
      </tr>

    <% end %>
    </table>
  </div>
</div>
