<h1>Create a new Job</h1>
<div> <%= link_to("<< back to dashboard", dashboard_index_path) %> </div>

<%= form_for @jobs do |f| %>

  <div class="field form">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field form">
    <%= f.label :description %>
    <% if @minimum_description_length %>
    <em>(<%= @minimum_description_length %> characters minimum)</em>
    <% end %><br />
    <%= f.text_field :description %>
  </div>

  <div class="field form">
    <%= f.label :origin %> <br />
    <%= select_tag(:origin, options_for_select(LOCATIONS)) %>
  </div>

  <div class="field form">
    <%= f.label :destination %><br />
    <%= select_tag(:destination, options_for_select(LOCATIONS)) %>
  </div>

  <div class="field form">
    <%= f.label :cost %><br />
    <%= select_tag(:cost, options_for_select([[1000], [1500], [2000], [2500], [3000], [3500]])) %>
  </div>

  <div class="field form">
    <%= f.label :total_containers %><br />
    <%= select_tag(:total_containers, options_for_select([['9000'], ['7500'], ['6000'], ['4500'], ['3000'], ['1500']])) %>
  </div>

  <div class="field form">
    <%= f.label :ship_id %><br />
    <%= select_tag(:ship_id, options_for_select(ships_array)) %>
  </div>

  <div class="actions form">
    <%= f.submit "Create Job" %>
  </div>
<% end %>
