<%# job show and edit  %>
<h1>Job Name: <%=@job.name%></h1>

<p>Description: <%=@job.description%></p>
<p>Origin: <%=@job.origin%></p>
<p>Destination: <%=@job.destination%></p>
<p>Cost: <%=@job.cost%></p>
<p>Total Containers: <%=@job.total_containers%></p>
<p>Ship(s) <%=@job.ships.collect(&:name)%></p>




<%= button_to('Edit', edit_job_path(@job.id), method: :get) %>