<%# assigned to current shipper %>

<div class="table_style">
  <h1>Current Ships</h1>

  <table style="text-align:center;">
    <tr>
      <th class="row-style">Name</th>
      <th class="row-style">Max Payload</th>
      <th class="row-style">Current Payload</th>
      <th class="row-style">Location</th>
      <th class="row-style">Shipper ID</th>
    </tr>
    <% @ships.each do |ship| %>
      <tr>
          <td class="data-style"><%= ship.name %></td>
          <td class="data-style"><%= ship.container_max %></td>
          <td class="data-style"><%= ship.payload %></td>
          <td class="data-style"><%= ship.location %></td>
          <td class="data-style"><%= ship.shipper.id %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="table_style">
  <h1>Create a new Ship</h1>

  <%= form_for @ship, url: ships_path do |f|  %>


      <div>
          <%= f.label "Name" %>
          <%= f.text_field :name %>
      </div>

      <div>
          <%= f.label "Container Max" %>
          <%= f.text_area :container_max %>
      </div>

      <div>
          <%= f.hidden_field :payload, :value => 0 %>
      </div>

      <div>
          <%= f.label "Location" %>
          <%= select("ship", "location", options_for_select(LOCATIONS)) %> <%# location constant %>
      </div>

      <div>
          <%= f.hidden_field(:shipper_id, :value => current_shipper.id) %> <%# assigned to current shipper %>
      </div>

      <div>
          <%= f.label "Ship Photo" %>
          <%= f.file_field :avatar %>
      </div>

      <div>
          <%= f.submit 'Submit'%>
      </div>

  <% end %>
</div>





<div> <%= link_to("<< back to dashboard", dashboard_index_path) %> </div>
