<!DOCTYPE html>
<html>
  <head>
    <title>ShippedApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1> ShipIt Inc. </h1>

    <div>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>

      <div class="home_buttons">
         <% if current_shipper %>
          <div> <%= link_to("Log Out", destroy_shipper_session_path, method: :delete) %> </div>
         <% end %>
      </div>

    </div>

    <div> &copy 2018 ShipIt Inc. </div>
  </body>
</html>
